p{
   text-align: justify;
}

label{
    color: #545176;
}

.quienes{
    font-size: 30px;
}

.icon-ok-squared{
    font-size: 20px;
}

.contenedor_acordeon img{
    width: 100%;
    border: 1px solid #BFC7CD;
    color: #545176;
}

.contenedor1{
    width: 97%;
    margin: auto;
    max-width: 1150px;
}

.contenido{
    justify-content: center;
    display: block;
    text-align: left;  
    max-width: 1000px;
}

.contenedor_acordeon article{
    margin: 25px; 
}

@media(min-width:900px){ 
   .contenedor_acordeon .contenedor1{
    display: flex;
    justify-content: center;
    flex-wrap: wramp;      
    }    
}