.contenedor_principal{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #F2F4F4;
}

p{
   text-align: justify;
}

label{
    color: #545176;
}


.contenedor_principal img{
    width: 100%;
    border: 1px solid #BFC7CD;
    color: #545176;
}

.contenedor1{
    width: 97%;
    margin: auto;
    max-width: 1150px;
}

.contenido{
    justify-content: center;
    display: block;
    text-align: left;  
    max-width: 1000px;
}

.contenedor_principal article{
    margin: 25px; 
}

@media(min-width:900px){ 
   .contenedor_principal .contenedor1{
    display: flex;
    justify-content: center;
    flex-wrap: wramp;      
    }    
}