@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');
.prox{
    color: #000;
    font-size: 28px;
    margin-bottom: 15px;

}
#icon-eve{
    color: #0173d4;
    margin-right: 10px;
   
}

.contenedor-event{
    display: block;
    width: 100%;
    height: auto;
   border: solid 2px #EEEE;
    margin: 15px auto;
     border-radius: 10px;
    
  
}

.img-event{
   width: 100%;
    height: 210px;
   
    
    
}
.img-event img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    padding-top: 5px;
    
}
.inf-event{
    padding: 15px;
    width: 100%;

   margin-left: 0;
   
   
}
.inf-event h3{
    color: #12128A;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
padding: 2px;
}

.inf-event p{
    text-align: center;
    font-size: 15px;
    margin: 5px;
   
    
}

.fecha{
     
    font-weight: bold;
    margin-bottom: 20px!important;
   
}

[type="f-event"]{
 
    margin-top: 0;
}

.mas{
    
    text-decoration: none;
     color: #12128A;   
}
.mas:hover{
    color: #0173d4 
}
@media(min-width:530px){
    
    .img-event{
   width: 100%;
    height: 260px;
   
    
    
}
@media(min-width:620px){
    
    .img-event{
   width: 100%;
    height: 300px;
   
    
    
}
    @media(min-width:720px){
        [type="eventos"]{
            display: flex;
              flex-wrap: wrap;
        }
.contenedor-event{

  width: auto;
   
    
  
}
        .img-event{
            
            height: 50%;
           width: 290px; 
        }
        .inf-event{
            height: 50%;
        }
   
    
}