label{
    color: #545176;
}

.informacion p{
    text-align: justify;
    font-size: 14px;
    padding: 10px;
}

.imagen img{    
    height: 260px;
    width: 260px;
    border: 1px solid #BFC7CD;
    display:block;
    margin:auto;
}

.escudo img{    
    width: 260px;
    border: 1px solid #FFF;
    display:block;
    margin:auto;
}

.perfil{
    margin: auto;
    max-width: 1100px;
}

.informacion{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: center;
    display: block; 
    display:block;
    margin:auto;
}

.informacion span{
    color: #0173d4;  
}

#acordeon_titulo{
    color:#000;
    text-align: left;  
}

.acordeon_info{
    display: block;
    padding: 3px;
}

.informacion input{
    display: none;
}

#acordeon_titulo{
    display: block;
    font-size: 14px;
    cursor: pointer;  
}

.contenido{
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;   
}

.informacion input:checked ~ .contenido {
    height: auto;
    margin: 15px 0;
}

.contenido a{
    text-decoration:none;
    color: #000;
    font-size: 14px;   
}

.contenido a:hover {
    color: #0173d4 
}

.contenido li{
    text-indent: 10px;
    list-style: none;
    padding: 2px;  
}

@media(min-width:950px){ 
   .contenedor_p .perfil{
    display: flex;
    justify-content: center;
    flex-wrap: wramp;      
    }

    .imagen img{
    height: 300px;
    width: 300px;
}
    
    .escudo img{
    width: 300px;
}
    
    .informacion p{
    text-align: left;
    font-size: 14px;
}
        
.informacion{
    width: 600px;
    justify-content: center;
    display: block; 
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px;
    display:block;
    margin:auto;
}
}


